.CountryProfile {
  background: #f7f7f7;
  height: 100vh;
  max-height: 100%;
  width: calc(100vw - 300px);
  overflow: hidden auto;
  padding-left: 20px;
  padding-right: 20px;
}

.CountryProfile__status {
  margin-top: 40px;
}

.CountryProfile__success {
  color: #2cb84b;
}

.CountryProfile__failed {
  color: #ff695e;
}

.CountryProfile__country {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.CountryProfile__flag {
  margin-top: 0.5em;
  display: block;
}